<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="/static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/assets/css/Articles-Cards-images.css">
    <link rel="stylesheet" href="/static/assets/css/Features-Small-Icons-Color-icons.css">
    <link rel="stylesheet" href="/static/assets/css/Pricing-Centered-badges.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="width: 300px;padding-right: 28px;margin-right: 0px;">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#" style="text-align: center;">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-gamepad" style="font-size: 52px;"></i></div>
                    <div class="sidebar-brand-text mx-3"><span style="font-size: 16px;">GameTrade</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar" style="padding-bottom: 0px;margin-bottom: 0px;margin-top: 90px;">
                    <li class="nav-item"><a class="nav-link" href="/" style="font-size: 20px;text-align: left;"><i class="fas fa-info-circle" style="font-size: 30px;"></i>&nbsp;Главная</a></li>
                    {% if not logged %}
                    <li class="nav-item"><a class="nav-link" href="/login" style="font-size: 20px;text-align: left;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-circle" style="font-size: 30px;">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
                            </svg>&nbsp; Вход</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register" style="font-size: 20px;text-align: left;"><i class="far fa-user" style="font-size: 30px;"></i>&nbsp;Регистрация</a></li>
                    <li class="nav-item"><a class="nav-link" href="/forgot-password" style="font-size: 20px;text-align: left;"><i class="fas fa-key" style="font-size: 20px;"></i>&nbsp; Забыли пароль?</a>
                    {% elif logged %}
                    <li class="nav-item"><a class="nav-link" href="/profile" style="font-size: 20px;text-align: left"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-circle" style="font-size: 30px;">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
                            </svg>&nbsp; Профиль</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="/games" style="font-size: 20px;text-align: left;"><i class="fas fa-gamepad" style="font-size: 30px;"></i>&nbsp; Каталог</a></li>
                    <li class="nav-item"><a class="nav-link" href="/cart" style="font-size: 20px;text-align: left;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-cart" style="font-size: 30px;">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                            </svg>&nbsp; Корзина</a></li>
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button></div>
                </nav>
                <div class="container-fluid">
                    <div class="text-center mt-5" style="margin-bottom: 120px;padding-bottom: 0px;height: 600px;">
                        <div class="error mx-auto" data-text="404">
                            <p class="m-0">404</p>
                        </div>
                        <p class="text-dark mb-5 lead" style="font-size: 60px;">Страница не найдена</p>
                        <p class="text-black-50 mb-0">Куда лезешь ээээ...</p><a href="/">← Обратно</a>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <footer class="text-center py-4">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-lg-3">
                            <div class="col"></div>
                            <div class="col">
                                <p class="text-muted my-2">Copyright&nbsp;© 2023 GameTrade</p>
                                <ul class="list-inline my-2">
                                    <li class="list-inline-item"><a class="link-secondary" href="#">Privacy Policy</a></li>
                                    <li class="list-inline-item"><a class="link-secondary" href="#">Terms of Use</a></li>
                                </ul>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </footer>
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/theme.js"></script>
</body>

</html>