{% extends "base.html" %}

{% block content %}
    <title>Восстановление пароля</title>
    <body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0" style="margin-bottom: -90px">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex"><img style="width: 600px;height: 600px;margin-top: 100px;margin-right: 0;margin-bottom: 0;padding: 10px 0 200px;" src="/static/img/login.png"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text mb-4" style="color: #4e73df">Ну что, старый, давай пароль новый делай!</h4>
                                    </div>
                                    <form class="user" action="" method="post">
                                        {{ form.hidden_tag() }}
                                        <div class="text-center">
                                    {{ form.password.label }}<br>
                                    {{ form.password(class="form-control form-control-user", type="password") }}<br>
                                    {% for error in form.password.errors %}
                                        <p class="alert alert-danger" role="alert">
                                            {{ error }}
                                        </p>
                                    {% endfor %}
                                </div>
                                <div class="text-center">
                                    {{ form.password_again.label }}<br>
                                    {{ form.password_again(class="form-control form-control-user", type="password") }}<br>
                                    {% for error in form.password_again.errors %}
                                        <p class="alert alert-danger" role="alert">
                                            {{ error }}
                                        </p>
                                    {% endfor %}
                                </div>
                                        <p>{{ form.submit(type="submit", class="btn btn-primary d-block btn-user w-100", style="margin-top: 20px") }}</p>
                                        <div>{{ message }}</div>
                                    </form>
                                    <div class="text-center"><a class="small" href="/login">Уже есть аккаунт? Войти!</a></div>
                                    <div class="text-center"><a class="small" href="/register">Создать аккаунт!</a></div>
                                {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>